body {
    background-color: white;
}

.container {
    background-color: blue;
    padding: 5px;
    width: 220px;
}

.ba-btn-calc {
    background-color: blue;
    border: 0px darkgreen solid;
    text-align: center;
}

.ba-calc-output {
    width: 210px;
    height: 27px;
    font-size: 30px;
}

.long {
    width: 50px;
}

.wrap {
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.app-name{
	font-size:80px;
	font-family: verdana;
}
